
/* Колір основного тексту #757575  */
/* Колір другорядного тексту #212121 */
/* Колір частки Web лого в header #000000 */
/* Акцент #2196F3 */
/* Білий #FFFFFF */
/* Колір контактів в footer rgba(255, 255, 255, 0.6); */

/* Колір основного фону #FFFFFF */
/* Колір фону Команда #F5F4FA;  */
/* Колір фону Герой і Футер #2F303A; */

:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #fff;
}


/* СТИЛІ ДЛЯ index.html */

body {
    background-color: var(--primery-white-color);
    color: var(--primery-text-color) ;

    font-family: ;
}
 
 .list {
    list-style: none;
}

/* Site-nav */
 .site-nav .link {
    text-decoration: none; 
    cursor: pointer; 
}

 .site-nav .link:hover,
 .site-nav .link:focus {
   color: var(--accent-color); 
}

.site-nav .link .current {
    color: var(--title-text-color);
}

/* HERO */
.hero-title {
   background-color: #2F303A;
    color: var(--primery-white-color);
}

.button {
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    cursor:pointer;
    display: inline;
}


/* Section h1 h2 */
.section-title {
    color: var(--title-text-color);
}

/* Features */

.feature .feature-title {
    color: var(--title-text-color)
}

/* Team */
.team .team-title {
    background-color: ;
    color: var(--title-text-color)
}

.team {
    background-color: #F5F4FA;
}